In [1]:
import pandas as pd

combined = pd.read_csv('../data/reddit-clustered-combined.csv')
combined.head()

,Unnamed: 0,text,reddit,clustered
0,2,I've been feeling really depressed and lonely ...,0,0
1,3,I literally broke down crying and asked to go ...,0,0
2,4,Any kind soul want to give a depressed person ...,0,1
3,5,literally though. have i done anything wrong,0,1
4,6,why does it hurt so much? Why can’t I be happy...,0,1

In [7]:
combined.iloc[:, 2]

0       0
1       0
2       0
3       0
4       0
       ..
1890    1
1891    1
1892    1
1893    1
1894    1
Name: reddit, Length: 1895, dtype: int64

In [9]:
combined.eq(combined.iloc[:, 2], axis=0)

      Unnamed: 0   text  reddit  clustered
0          False  False    True       True
1          False  False    True       True
2          False  False    True      False
3          False  False    True      False
4          False  False    True      False
...          ...    ...     ...        ...
1890       False  False    True       True
1891       False  False    True      False
1892       False  False    True       True
1893       False  False    True      False
1894       False  False    True       True

[1895 rows x 4 columns]

In [36]:
df = pd.DataFrame(columns=['random', 'text', 'reddit', 'clustered'])

for x in range(0,1894): 
    if combined.iloc[x, 2]!=combined.iloc[x, 3]:
        df = df.append(combined.loc[x, :])

In [37]:
df.head()

,random,text,reddit,clustered,Unnamed: 0
2,NaN,Any kind soul want to give a depressed person ...,0,1,4.0
3,NaN,literally though. have i done anything wrong,0,1,5.0
4,NaN,why does it hurt so much? Why can’t I be happy...,0,1,6.0
6,NaN,"I go to a small school, normally no more than ...",0,1,8.0
7,NaN,"When I was 15-16 years old, I posted here in m...",0,1,9.0

In [38]:
df.shape

(800, 5)

In [39]:
df.to_csv('../data/clean-combined.csv')